.navbar-custom{
    background-color:rgba(255,255,255,0.3);
}

.navbar-brand{
    color: rgba(255,255,255,255) !important;
    font-family: "FontNavbar" !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,255) !important;
}

/*Sombreamento em formato de caixa*/
.shadowKaiserBox{
    -webkit-box-shadow: 0px 7px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 22px 0px rgba(0,0,0,0.75);
}

/*Sombreamento em formato de texto*/
.shadowKaiserText{
    text-shadow: 4px 5px 7px rgba(0,0,0,0.53);
}

.searchbox{
    max-width: 60%;
}

@media screen and (min-width: 768px) {
    .navbar-collapse {
      position: relative;
    }
    .navbar-left {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 0;
      left: 0;
    }
    .navbar-left > li > a {
      display: inline-block;
    }
    .navbar-left > li {
      display: inline;
      float: none;
    }
  }