<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>Listar</title>

        <!-- JS -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/css/table.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/css/kaiser_navbar.css"  media="screen,projection"/>
    </head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container">
    <h1><span class="blue">&lt;</span><span>Usuarios<span class="blue">&gt;</span></h1>
    <table id="tabela" class="container shadowKaiserBox" style="font-size:0.9em">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Descrição</th>
                <th>Data criação</th>
            </tr>
        </thead>
        <tbody id="dados" style="font-size:0.8em">
        </tbody>
    </table>
</div>


<!-- Result Container  -->


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- jsPanel CSS -->
<link href="https://cdn.jsdelivr.net/npm/jspanel4@4.6.0/dist/jspanel.css" rel="stylesheet">
<!-- jsPanel JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.6.0/dist/jspanel.js"></script>
<!-- optional jsPanel extensions -->
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.6.0/dist/extensions/modal/jspanel.modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.6.0/dist/extensions/tooltip/jspanel.tooltip.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.6.0/dist/extensions/hint/jspanel.hint.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.6.0/dist/extensions/layout/jspanel.layout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.6.0/dist/extensions/contextmenu/jspanel.contextmenu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.6.0/dist/extensions/dock/jspanel.dock.js"></script>

<script>
    $.ajax({
        type: "GET",
        url: "/usuario/",
        //data: JSON.stringify(userJson),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
            for (item in data){
                addRow(data[item],item)
            }
        },
        failure: function(errMsg) {
           alert(errMsg);//handle it in a proper way
        }
    });

    function addRow(data,index) {
        var MyTable = document.getElementById("dados");
        var NewRow = MyTable.insertRow(index);
        var Newcell1   = NewRow.insertCell(0);
        var Newcell2   = NewRow.insertCell(1);
        var Newcell3   = NewRow.insertCell(2);
        var Newcell4   = NewRow.insertCell(3);
        var Newcell5   = NewRow.insertCell(4);
        var Newcell6   = NewRow.insertCell(5);

        //TEXT
        Newcell1.innerHTML  = data["id_usuario"];
        Newcell2.innerHTML  = data["nome"];
        Newcell3.innerHTML  = data["email"];
        Newcell4.innerHTML  = data["senha"];
        Newcell5.innerHTML  = data["descricao"];
        Newcell6.innerHTML = data["data_criacao"];
    }
</script>

</html>